@{ ViewData["Title"] = "Books For Sale!"; }
@model ProjectListViewModel

<div class="card card-outline-primary m-1 p-1">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Book ID Number</th>
                    <th>Book Title</th>
                    <th>Author Last Name</th>
                    <th>Author First Name</th>
                    <th>Publisher</th>
                    <th>Classification</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>ISBN</th>
                </tr>
            </thead>
            <tbody>
                <!-- renders all book info in the table -->
                @foreach (var x in Model.Projects)
                {
                    <partial name="ProjectSummary" model="x" />
                }
            </tbody>

        </table>
    </div>
</div>

<div class="alert alert-danger" role="alert">
    All books come with a no questions return window of 30 seconds. Any longer amount of time, and you best believe that we're going to ask a whole bunch of freaking questions ;)
</div>


<div page-model="@Model.PagingInfo" page-action="Index" pageclasses-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1"></div>